*.o
coff2flat
coff2noff
disassemble
readnoff
Makefile.depends
nachos
userland/echo
userland/filetest
userland/halt
userland/matmult
userland/shell
userland/sort
userland/tiny_shell
userland/touch
userland/cp
userland/rm
userland/lib
userland/cat
userland/fs_test
userland/mkdir
userland/cd
userland/ls
*.coff
.cache
compile_commands.json
SWAP.*
DISK
